# Hospital City Data Anaylsis

In [28]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.missing import test_mcar

ModuleNotFoundError: No module named 'statsmodels.stats.missing'

### 1.2 Preparation

In [ ]:
patient_data=pd.read_excel('Project Data.xlsx')

In [ ]:
patient_data.head()

,Patient ID,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
0,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
2,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
3,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
4,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

In [ ]:
patient_data=patient_data.set_index('Patient ID',)

In [ ]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10008 entries, 1482 to 1012
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        9952 non-null   float64
 1   Gender                     10008 non-null  object
 2   City of Residence          10008 non-null  object
 3   Profession                 10008 non-null  object
 4   Insurance Provider         8098 non-null   object
 5   Family History             8015 non-null   object
 6   Education Level            9979 non-null   object
 7   Marital Status             10008 non-null  object
 8   Visit Date                 10008 non-null  datetime64[ns]
 9   Department                 10008 non-null  object
 10  Consultation Duration      10008 non-null  int64
 11  Satisfaction Level         10008 non-null  int64
 12  Approximate Annual Income  9854 non-null   float64
 13  Consultation Price         10008 non-null  float64
 14  Insurance Coverage         9958 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(8)
memory usage: 1.2+ MB

### Duplicates

In [ ]:
patient_data.shape

(10008, 15)

In [ ]:
patient_data.drop_duplicates()

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
Patient ID,,,,,,,,,,,,,,,
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,92.0,Female,Dublin,Retired,NaN,Cancer,Undergraduate,Divorced,2024-06-28,General Practice,74,2,52082.0,75.489076,52.842353
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-13,General Practice,79,6,0.0,66.634595,0.000000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-01-19,General Practice,96,6,0.0,55.060415,0.000000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-24,General Practice,99,6,0.0,50.322583,0.000000
1012,NaN,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-16,Endocrinology,79,5,0.0,268.691052,0.000000

In [ ]:
patient_data.isnull().sum()

Age                            56
Gender                          0
City of Residence               0
Profession                      0
Insurance Provider           1910
Family History               1993
Education Level                29
Marital Status                  0
Visit Date                      0
Department                      0
Consultation Duration           0
Satisfaction Level              0
Approximate Annual Income     154
Consultation Price              0
Insurance Coverage             50
dtype: int64

In [ ]:
result = test_mcar(df)
print(result)