# Hospital City Data Anaylsis

## 1. Data Understanding

In [36]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.2 Preparation

In [37]:
patient_data=pd.read_excel('Project Data.xlsx')

In [38]:
patient_data.head()

,Patient ID,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
0,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
2,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
3,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
4,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

In [39]:
patient_data=patient_data.set_index('Patient ID')

In [40]:
patient_data.head()

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
Patient ID,,,,,,,,,,,,,,,
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

### INPECTING DATA

In [41]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10008 entries, 1482 to 1012
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        9952 non-null   float64
 1   Gender                     10008 non-null  object
 2   City of Residence          10008 non-null  object
 3   Profession                 10008 non-null  object
 4   Insurance Provider         8098 non-null   object
 5   Family History             8015 non-null   object
 6   Education Level            9979 non-null   object
 7   Marital Status             10008 non-null  object
 8   Visit Date                 10008 non-null  datetime64[ns]
 9   Department                 10008 non-null  object
 10  Consultation Duration      10008 non-null  int64
 11  Satisfaction Level         10008 non-null  int64
 12  Approximate Annual Income  9854 non-null   float64
 13  Consultation Price         10008 non-null  float64
 14  Insurance Coverage         9958 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(8)
memory usage: 1.2+ MB

We have **8 categorical variables**:  
`Gender`, `City of Residence`, `Profession`, `Insurance Provider`, `Family History`, `Education Level`, `Marital Status`, and `Department`.

We also have **6 numerical variables**:  
`Age`, `Consultation Duration`, `Satisfaction Level`, `Approximate Annual Income`, `Consultation Price`, and `Insurance Coverage`.

Additionally, there is **1 datetime variable**:  
`Visit Date`.

### OPTIMIZING DATA TYPES TO SAVE SPACE

In [42]:
patient_data.describe(include='all')

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
count,9952.000000,10008,10008,10008,8098,8015,9979,10008,10008,10008,10008.000000,10008.000000,9.854000e+03,10008.000000,9958.000000
unique,NaN,3,8,10,4,4,8,4,NaN,13,NaN,NaN,NaN,NaN,NaN
top,NaN,Other,Birmingham,Retired,Provider D,Heart Disease,Undergraduate,Divorced,NaN,Psychiatry,NaN,NaN,NaN,NaN,NaN
freq,NaN,3417,1473,3601,2165,2235,4160,2893,NaN,1361,NaN,NaN,NaN,NaN,NaN
mean,50.635651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-31 14:53:14.244604160,NaN,67.807654,3.202338,4.340276e+04,187.263022,115.429366
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 00:00:00,NaN,15.000000,1.000000,0.000000e+00,50.036762,0.000000
25%,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-15 00:00:00,NaN,41.000000,2.000000,3.115775e+04,111.316562,59.692518
50%,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-31 00:00:00,NaN,68.000000,3.000000,4.087650e+04,159.531115,115.938998
75%,75.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-16 00:00:00,NaN,94.000000,5.000000,5.072175e+04,199.820999,165.437958
max,195.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-30 00:00:00,NaN,600.000000,6.000000,1.197090e+07,39999.222018,421.887836
std,31.185608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.447143,1.565507,2.681420e+05,862.865550,79.337759

In [43]:
patient_data.columns

Index(['Age', 'Gender', 'City of Residence', 'Profession',
       'Insurance Provider', 'Family History', 'Education Level',
       'Marital Status', 'Visit Date', 'Department', 'Consultation Duration',
       'Satisfaction Level', 'Approximate Annual Income', 'Consultation Price',
       'Insurance Coverage'],
      dtype='object')

In [44]:
patient_data['Visit Date'] = pd.to_datetime(patient_data['Visit Date'])

category_cols = [
    'Gender', 'City of Residence', 'Profession',
       'Insurance Provider', 'Family History', 'Education Level',
       'Marital Status', 'Department'
]
patient_data[category_cols] = patient_data[category_cols].astype("category")

patient_data['Consultation Duration'] = pd.to_timedelta(patient_data['Consultation Duration'])
patient_data['Satisfaction Level'] = patient_data['Satisfaction Level'].astype("int8")
patient_data['Approximate Annual Income'] = patient_data['Approximate Annual Income'].astype("float32")
patient_data['Consultation Price'] = patient_data['Consultation Price'].astype("float16")
patient_data['Insurance Coverage'] = patient_data['Insurance Coverage'].astype("float16")

patient_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10008 entries, 1482 to 1012
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        9952 non-null   float64
 1   Gender                     10008 non-null  category
 2   City of Residence          10008 non-null  category
 3   Profession                 10008 non-null  category
 4   Insurance Provider         8098 non-null   category
 5   Family History             8015 non-null   category
 6   Education Level            9979 non-null   category
 7   Marital Status             10008 non-null  category
 8   Visit Date                 10008 non-null  datetime64[ns]
 9   Department                 10008 non-null  category
 10  Consultation Duration      10008 non-null  timedelta64[ns]
 11  Satisfaction Level         10008 non-null  int8
 12  Approximate Annual Income  9854 non-null   float32
 13  Consultation Price         10008 non-null  float16
 14  Insurance Coverage         9958 non-null   float16
dtypes: category(8), datetime64[ns](1), float16(2), float32(1), float64(1), int8(1), timedelta64[ns](1)
memory usage: 481.4 KB

### Duplicates

In [45]:
patient_data.shape

(10008, 15)

In [46]:
patient_data.drop_duplicates()

c:\Users\almad\anaconda3\envs\PDS\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
Patient ID,,,,,,,,,,,,,,,
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,0 days 00:00:00.000000110,2,38839.0,293.0000,0.00000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,0 days 00:00:00.000000076,4,52219.0,287.2500,0.00000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,0 days 00:00:00.000000017,5,41491.0,241.2500,0.00000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,0 days 00:00:00.000000015,3,34944.0,221.1250,0.00000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,0 days 00:00:00.000000099,1,39248.0,219.7500,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,92.0,Female,Dublin,Retired,NaN,Cancer,Undergraduate,Divorced,2024-06-28,General Practice,0 days 00:00:00.000000074,2,52082.0,75.5000,52.84375
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-13,General Practice,0 days 00:00:00.000000079,6,0.0,66.6250,0.00000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-01-19,General Practice,0 days 00:00:00.000000096,6,0.0,55.0625,0.00000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-24,General Practice,0 days 00:00:00.000000099,6,0.0,50.3125,0.00000
1012,NaN,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-16,Endocrinology,0 days 00:00:00.000000079,5,0.0,268.7500,0.00000

### Missing Values

In [47]:
patient_data.isnull().sum()

Age                            56
Gender                          0
City of Residence               0
Profession                      0
Insurance Provider           1910
Family History               1993
Education Level                29
Marital Status                  0
Visit Date                      0
Department                      0
Consultation Duration           0
Satisfaction Level              0
Approximate Annual Income     154
Consultation Price              0
Insurance Coverage             50
dtype: int64

#### Diving columns to impute Missing values

In [48]:
# Patient specific
pat_cols = [
    'Age','Insurance Provider', 'Family History', 'Education Level','Approximate Annual Income'
]

# Fill within each Patient ID by propagating known values
patient_data[pat_cols] = patient_data.groupby('Patient ID')[pat_cols].transform(
    lambda x: x.ffill().bfill()
)

In [49]:
# Visit-level numeric fields
visit_num = ['Consultation Duration','Consultation Price','Insurance Coverage']

for col in visit_num:
    patient_data[col] = patient_data.groupby('Department')[col].transform(
        lambda x: x.fillna(x.median()))

C:\Users\almad\AppData\Local\Temp\ipykernel_17556\1163201387.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  patient_data[col] = patient_data.groupby('Department')[col].transform(
C:\Users\almad\AppData\Local\Temp\ipykernel_17556\1163201387.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  patient_data[col] = patient_data.groupby('Department')[col].transform(
C:\Users\almad\AppData\Local\Temp\ipykernel_17556\1163201387.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  patient_data[col] = patient_data.groupby('Department')[col].transform(

In [50]:
# Satisfaction Level
patient_data['Satisfaction Level'] = patient_data.groupby('Department')['Satisfaction Level'].transform(
    lambda x: x.fillna(x.median())
)

C:\Users\almad\AppData\Local\Temp\ipykernel_17556\3981937253.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  patient_data['Satisfaction Level'] = patient_data.groupby('Department')['Satisfaction Level'].transform(

In [51]:
# department division data
patient_data['Department'] = patient_data.groupby('Patient ID')['Department'].transform(
    lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x
)

In [52]:
patient_data.isnull().sum()

Age                             0
Gender                          0
City of Residence               0
Profession                      0
Insurance Provider           1860
Family History               1993
Education Level                 0
Marital Status                  0
Visit Date                      0
Department                      0
Consultation Duration           0
Satisfaction Level              0
Approximate Annual Income       0
Consultation Price              0
Insurance Coverage              0
dtype: int64

In [53]:
print(patient_data['Insurance Provider'].value_counts())
print('--------')
print(patient_data['Family History'].value_counts())

Insurance Provider
Provider D    2176
Provider A    2016
Provider B    2006
Provider C    1950
Name: count, dtype: int64
--------
Family History
Heart Disease    2235
Hypertension     2049
Diabetes         1867
Cancer           1864
Name: count, dtype: int64

In [54]:
# Add new categories first before filling
patient_data['Insurance Provider'] = patient_data['Insurance Provider'].cat.add_categories(['No Provider'])
patient_data['Family History'] = patient_data['Family History'].cat.add_categories(['No Disease'])

# Now fill with the new categories
patient_data['Insurance Provider'].fillna('No Provider', inplace=True)
patient_data['Family History'].fillna('No Disease', inplace=True)

# Verify no missing values remain
patient_data.isnull().sum()

C:\Users\almad\AppData\Local\Temp\ipykernel_17556\3422405668.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patient_data['Insurance Provider'].fillna('No Provider', inplace=True)
C:\Users\almad\AppData\Local\Temp\ipykernel_17556\3422405668.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patient_data['Family History'].fillna('No Disease', inplace=True)

Age                          0
Gender                       0
City of Residence            0
Profession                   0
Insurance Provider           0
Family History               0
Education Level              0
Marital Status               0
Visit Date                   0
Department                   0
Consultation Duration        0
Satisfaction Level           0
Approximate Annual Income    0
Consultation Price           0
Insurance Coverage           0
dtype: int64

In [55]:
print(patient_data['Insurance Provider'].value_counts())
print('--------')
print(patient_data['Family History'].value_counts())

Insurance Provider
Provider D     2176
Provider A     2016
Provider B     2006
Provider C     1950
No Provider    1860
Name: count, dtype: int64
--------
Family History
Heart Disease    2235
Hypertension     2049
No Disease       1993
Diabetes         1867
Cancer           1864
Name: count, dtype: int64