# Hospital City Data Anaylsis

## 1. Data Understanding

In [25]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.2 Preparation

In [26]:
patient_data=pd.read_excel('Project Data.xlsx')

In [27]:
patient_data.head()

,Patient ID,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
0,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
2,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
3,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
4,1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

In [28]:
patient_data=patient_data.set_index('Patient ID')

In [29]:
patient_data.head()

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
Patient ID,,,,,,,,,,,,,,,
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.0
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.0

In [30]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10008 entries, 1482 to 1012
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        9952 non-null   float64
 1   Gender                     10008 non-null  object
 2   City of Residence          10008 non-null  object
 3   Profession                 10008 non-null  object
 4   Insurance Provider         8098 non-null   object
 5   Family History             8015 non-null   object
 6   Education Level            9979 non-null   object
 7   Marital Status             10008 non-null  object
 8   Visit Date                 10008 non-null  datetime64[ns]
 9   Department                 10008 non-null  object
 10  Consultation Duration      10008 non-null  int64
 11  Satisfaction Level         10008 non-null  int64
 12  Approximate Annual Income  9854 non-null   float64
 13  Consultation Price         10008 non-null  float64
 14  Insurance Coverage         9958 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(8)
memory usage: 1.2+ MB

We have **8 categorical variables**:  
`Gender`, `City of Residence`, `Profession`, `Insurance Provider`, `Family History`, `Education Level`, `Marital Status`, and `Department`.

We also have **6 numerical variables**:  
`Age`, `Consultation Duration`, `Satisfaction Level`, `Approximate Annual Income`, `Consultation Price`, and `Insurance Coverage`.

Additionally, there is **1 datetime variable**:  
`Visit Date`.

In [31]:
patient_data.describe(include='all')

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
count,9952.000000,10008,10008,10008,8098,8015,9979,10008,10008,10008,10008.000000,10008.000000,9.854000e+03,10008.000000,9958.000000
unique,NaN,3,8,10,4,4,8,4,NaN,13,NaN,NaN,NaN,NaN,NaN
top,NaN,Other,Birmingham,Retired,Provider D,Heart Disease,Undergraduate,Divorced,NaN,Psychiatry,NaN,NaN,NaN,NaN,NaN
freq,NaN,3417,1473,3601,2165,2235,4160,2893,NaN,1361,NaN,NaN,NaN,NaN,NaN
mean,50.635651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-31 14:53:14.244604160,NaN,67.807654,3.202338,4.340276e+04,187.263022,115.429366
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 00:00:00,NaN,15.000000,1.000000,0.000000e+00,50.036762,0.000000
25%,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-15 00:00:00,NaN,41.000000,2.000000,3.115775e+04,111.316562,59.692518
50%,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-31 00:00:00,NaN,68.000000,3.000000,4.087650e+04,159.531115,115.938998
75%,75.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-16 00:00:00,NaN,94.000000,5.000000,5.072175e+04,199.820999,165.437958
max,195.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-30 00:00:00,NaN,600.000000,6.000000,1.197090e+07,39999.222018,421.887836
std,31.185608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.447143,1.565507,2.681420e+05,862.865550,79.337759

### Duplicates

In [32]:
patient_data.shape

(10008, 15)

In [33]:
patient_data.drop_duplicates()

,Age,Gender,City of Residence,Profession,Insurance Provider,Family History,Education Level,Marital Status,Visit Date,Department,Consultation Duration,Satisfaction Level,Approximate Annual Income,Consultation Price,Insurance Coverage
Patient ID,,,,,,,,,,,,,,,
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-02-22,Endocrinology,110,2,38839.0,293.014042,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-01-21,Emergency,76,4,52219.0,287.208982,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-06-13,Neurology,17,5,41491.0,241.254507,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-24,Emergency,15,3,34944.0,221.177483,0.000000
1482,65.0,Female,Birmingham,Retired,NaN,Heart Disease,Master,Divorced,2024-03-19,Neurology,99,1,39248.0,219.743794,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,92.0,Female,Dublin,Retired,NaN,Cancer,Undergraduate,Divorced,2024-06-28,General Practice,74,2,52082.0,75.489076,52.842353
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-13,General Practice,79,6,0.0,66.634595,0.000000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-01-19,General Practice,96,6,0.0,55.060415,0.000000
1012,7.0,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-24,General Practice,99,6,0.0,50.322583,0.000000
1012,NaN,Other,Dublin,Student,NaN,Hypertension,Elementary school,Single,2024-05-16,Endocrinology,79,5,0.0,268.691052,0.000000

### Missing Values

In [34]:
patient_data.isnull().sum()

Age                            56
Gender                          0
City of Residence               0
Profession                      0
Insurance Provider           1910
Family History               1993
Education Level                29
Marital Status                  0
Visit Date                      0
Department                      0
Consultation Duration           0
Satisfaction Level              0
Approximate Annual Income     154
Consultation Price              0
Insurance Coverage             50
dtype: int64

#### Diving columns

In [ ]:
VSIST SPECIFIC: # Visit-level numeric fields
visit_num = ['Consultation Duration','Consultation Price','Insurance Coverage']

for col in visit_num:
    df[col] = df.groupby('Department')[col].transform(
        lambda x: x.fillna(x.median()))

SyntaxError: invalid non-printable character U+00A0 (3831592275.py, line 11)

In [ ]:
SATISFACTION LEVEL: df['Satisfaction Level'] = df.groupby('Department')['Satisfaction Level'].transform(
    lambda x: x.fillna(x.median())
)

In [ ]:
DEPARTMENT DIVISION: df['Department'] = df.groupby('Patient ID')['Department'].apply(
    lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x
)